@charset "utf-8";
canvas{
    display: block;
    margin: auto;
    box-shadow: -2px -2px 2px #efefef,5px 5px 5px #b9b9b9;
    background: #b86901;
}
.title{
    text-align: center;
    font-size: 32px;
}
